/*
  PostgreSQL.org - Text Styles
*/

/* Heading Definitions */

h1 {
  color: #EC5800;
}

h2 {
  color: #666; 
}

h3 { 
  color: #666; 
}

h4 { 
  color: #666; 
}

/* Text Styles */

.txtColumn1 {
  width: 50%;
  line-height: 1.3em;
}

.txtColumn2 {
  width: 50%;
  line-height: 1.5em;
}

.txtCurrentLocation {
  font-weight: bold;
}

.txtDivider { 
  font-size: 0.8em; 
  color: #E1E1E1; 
  padding-left: 4px; 
  padding-right: 4px; 
}

.txtNewsEvent { 
  font-size: 0.9em; 
  color: #0094C7; 
}

.txtDate { 
  font-size: 0.9em;
  color: #666; 
}

.txtMediumGrey { 
  color: #666; 
}

.txtFormLabel { 
  color: #666; 
  font-weight: bold; 
  text-align: right; 
  vertical-align: top;
}

.txtRequiredField {
  color: #EC5800;
}

.txtImportant {
  color: #EC5800;
}

.txtOffScreen {
  position: absolute;
  left: -1999px;
  width: 1990px;
}

#txtFrontFeatureHeading {
  padding-bottom: 1.1em;
}

#txtFrontFeatureLink a {
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 5px;
}

#txtFrontUserText {
  font-size: 1.0em; 
  color: #666; 
  margin-top: 12px; 
}

#txtFrontUserName { 
  font-size: 0.9em; 
  color: #666; 
  margin-top: 9px; 
  font-weight: bold; 
}

#txtFrontUserLink { 
  font-size: 0.9em; 
  color: #666; 
  margin-top: 11px; 
  margin-left: 1px; 
}

#txtFrontUserLink img {
  padding-right: 5px;
}

#txtFrontSupportUsText { 
  font-size: 1.0em;
  margin-top: 9px; 
}

#txtFrontSupportUsLink { 
  font-size: 0.9em;
  margin-top: 6px; 
}

#txtFrontSupportUsLink img {
  padding-right: 7px;
} 

/* Link Styles */


a                               { text-decoration: underline; }

a:link                          { color:#0085B0; }
a:visited                       { color:#004E66; }
a:active                        { color:#0085B0; }
a:hover                         { color:#000000; }

select a                        { text-decoration: none }

#pgFooter a                     { color:#666; }
#pgFooter a:hover               { color:#000; }

#txtFrontUserName a             { color:#666; }
#txtFrontUserName a:hover       { color:#000; }

.bodywrapper a:visited	        { color:#00536E; }
.bodywrapper pre,
.bodywrapper tt {
  word-wrap: break-word;
  white-space: pre-wrap;
  font-size: 1.2em;
  padding: 1em 0 1em 2em;
  border-width: 2px 0;
  border-color: lightGray;
  border-style: solid;
}

#pgFrontUSSContainer h2, #pgFrontUSSContainer h3 {
  margin: 0;
  padding: 0;
}

#pgFrontNewsEventsContainer h2, #pgFrontNewsEventsContainer h3 {
  margin: 0;
  padding: 0;
}

#pgFrontNewsEventsContainer h3 img {
  margin-bottom: 10px;
}
