{%load pgfilters%}

<table class="table-sm table-responsive message-header" style="border-bottom: 0.05em solid #E7EAE8; margin-bottom: 1em;">
 <tr>
  <th scope="row" style="width: 10%">From:</th>
  <td>{{msg.mailfrom|hidemail}}</td>
 </tr>
 <tr>
  <th scope="row">To:</th>
  <td>{{msg.to|hidemail}}</td>
 </tr>
{%if msg.cc%}
 <tr>
  <th scope="row">Cc:</th>
  <td>{{msg.cc|hidemail}}</td>
 </tr>
{%endif%}
 <tr>
  <th scope="row">Subject:</th>
  <td>{%if not msg.hiddenstatus%}{{msg.subject}}{%endif%}</td>
 </tr>
 <tr>
  <th scope="row">Date:</th>
  <td>{{msg.printdate}}</td>
 </tr>
 <tr>
  <th scope="row">Message-ID:</th>
  <td><a href="/message-id/{{msg.messageid|urlencode}}">{{msg.messageid}}</a></td>
 </tr>
 <tr>
   <th class="align-middle" scope="row">Views:</th>
   <td>
     <a href="/message-id/raw/{{msg.messageid|urlencode}}">Raw Message</a> |
     <a href="/message-id/flat/{{msg.messageid|urlencode}}">Whole Thread</a> |
     <a href="/message-id/mbox/{{msg.messageid|urlencode}}">Download mbox</a>
   </td>
 </tr>
 {% if not show_all %}
   <tr>
    <th class="align-middle" scope="row">Thread:</th>
    <td>
     <select id="thread_select" class="custom-select" onchange="onThreadSelect()">
  {%for m in threadstruct%}{%if m.id%}<option value="{{m.messageid|urlencode}}"{%if m.id == msg.id%} selected="selected"{%endif%}{%if m.hasattachment%} class="hasatt"{%endif%}>{{m.indent|safe}}{{m.printdate}} from {{m.mailfrom|hidemail}}</option>{%endif%}
  {%endfor%}
     </select>
    </td>
   </tr>
  {% endif %}
  {% if lists %}
    <tr>
      <th scope="row">Lists:</th>
      <td>{%for l in lists %}<span class="listname"><a href="/list/{{l.listname}}/since/{{msg.shortdate}}">{{l.listname}}</a></span>{%endfor%}</td>
    </tr>
  {% endif %}
</table>
{%if msg.hiddenstatus%}
<div class="message-content">{{msg.hiddenreason}}</div>
{%else%}
<div class="message-content">{{msg.bodytxt|hideallemail|urlize|linebreaks}}</div>

{%if msg.has_attachment%}
  <table class="table table-sm table-responsive message-attachments">
    <thead>
      <tr>
        <th scope="col">Attachment</th>
        <th scope="col">Content-Type</th>
        <th scope="col">Size</th>
      </tr>
    </thead>
    <tbody>
      {%for a in msg.attachments%}
        <tr>
          <th scope="row">
            {% if a.inlineable %}
              <a href="/message-id/attachment/{{a.id}}/{{a.filename}}">
                <img class="attachedimage" src="/message-id/attachment/{{a.id}}/{{a.filename}}" />
              </a>
            {% else %}
              <a href="/message-id/attachment/{{a.id}}/{{a.filename}}">{{a.filename}}</a>
            {% endif %}
          </th>
          <td>{{ a.contenttype }}</td>
          <td>{{a.len|filesizeformat}}</td>
        </tr>
      {%endfor%}
    </tbody>
  </table>
{%endif%}

{%if parent%}
  <h3 class="messages" style="margin: 0.5em 0;">In response to</h3>
  <ul class="message-responses">
    <li><a href="/message-id/{{parent.messageid|urlencode}}">{{parent.subject}}</a> at {{parent.printdate}} from {{parent.mailfrom|nameonly}}</li>
  </ul>
{%endif%}

{%if responses%}
  <h3 class="messages" style="margin: 0.5em 0;">Responses</h3>
  <ul>
    {%for m in responses%}
      <li class="message-responses">
        <a href="/message-id/{{m.messageid|urlencode}}">{{m.subject}}</a> at {{m.printdate}} from {{m.mailfrom|nameonly}}
      </li>
    {%endfor%}
  </ul>
{%endif%}

{%if nextprev%}
  {%for list, info in nextprev.items %}
    <h3 class="messages" style="margin: 0.5em 0;">Browse {{list}} by date</h3>
    <table class="table table-sm table-responsive message-nav">
      <thead>
        <tr>
          <th scope="col">&nbsp;</th>
          <th scope="col">From</th>
          <th scope="col">Date</th>
          <th scope="col">Subject</th>
        </tr>
      </thead>
      <tbody>
        {%if info.next%}
          <tr>
            <th scope="row"><a href="/message-id/{{info.next.msgid|urlencode}}">Next Message</a></th>
            <td>{{info.next.from|nameonly}}</td>
            <td>{{info.next.date}}</td>
            <td><a href="/message-id/{{info.next.msgid|urlencode}}">{{info.next.subject}}</a></td>
          </tr>
        {%endif%}
        {%if info.prev%}
          <tr>
            <th scope="row"><a href="/message-id/{{info.prev.msgid|urlencode}}">Previous Message</a></th>
            <td>{{info.prev.from|nameonly}}</td>
            <td>{{info.prev.date}}</td>
            <td><a href="/message-id/{{info.prev.msgid|urlencode}}">{{info.prev.subject}}</a></td>
          </tr>
        {%endif%}
      </tbody>
    </table>
  {%endfor%}
{%endif%}

{%endif%}{%comment%}hidden{%endcomment%}
