<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" lang="en" xml:lang="en" dir="ltr">
 <head>
  <title>{%block title%}{%endblock%}</title>
  <meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
{%block meta%}{%endblock%} {# used for custom meta tags such as description which we don't want for every page #}
  <meta name="copyright" content="The PostgreSQL Global Development Group" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="alternate" type="application/rss+xml" title="PostgreSQL News" href="https://www.postgresql.org/news.rss" />
  <link rel="alternate" type="application/rss+xml" title="PostgreSQL Events" href="https://www.postgresql.org/events.rss" />
  <link rel="stylesheet" type="text/css" media="screen" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/themes/smoothness/jquery-ui.css" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/media-archives/js/jquery/jquery.ui.selectmenu.js"></script>
  <link rel="stylesheet" type="text/css" media="screen" href="/media-archives/css/jquery/jquery.ui.selectmenu.css" />
  <style type="text/css" media="screen">@import url("/media-archives/css/archives.css");</style>
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1345454-2']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{%block extrahead%}{%endblock%}
 </head>
 <body>
  <div id="pgContainerWrap">
   <div id="pgContainer">
    <span class="txtOffScreen"><a href="#pgContent" title="Skip site navigation" accesskey="1">Skip site navigation</a> (1)</span>
    <span class="txtOffScreen"><a href="#pgContentWrap" title="Skip section navigation" accesskey="2">Skip section navigation</a> (2)</span>
    <div id="pgHeaderContainer">
     <div id="pgSearch">
      <form method="get" action="https://www.postgresql.org/search/">
       <div>
        <h2 class="pgBlockHide"><label for="q">Search</label></h2>
        <input id="q" name="q" type="text" size="20" maxlength="255" onfocus="if( this.value==this.defaultValue ) this.value='';" value="Search" accesskey="s" /><input name="a" type="hidden" value="1"/><input id="submit" name="submit" type="submit" value="Search" />
       </div>
      </form>
      <h2 class="pgBlockHide">Peripheral Links</h2>
      <div id="pgSearchNav">
       <ul id="pgSearchNavList">
        <li>
          <a href="/about/donate">Donate</a>
        </li>
        <li>
          <a href="/about/contact">Contact</a>
        </li>
       </ul>
      </div>
     </div>
	 <div id="pgHeader">
	  <div id="pgHeaderLogoLeft">
	   <a href="https://www.postgresql.org/"><img alt="PostgreSQL" height="80" width="230" src="/media/img/layout/hdr_left.png" /></a>
	  </div>
	  <div id="pgHeaderLogoRight">
	   <a href="/"><img width="210" height="80" alt="The world's most advanced open source database." src="/media/img/layout/hdr_right.png" /></a>
	  </div>
	 </div> <!-- pgHeader -->

	 <div id="pgTopNav">
	  <div id="pgTopNavLeft"><img width="7" height="23" alt="" src="/media/img/layout/nav_lft.png" /></div>
	  <div id="pgTopNavRight"><img width="7" height="23" alt="" src="/media/img/layout/nav_rgt.png" /></div>
	  <ul id="pgTopNavList">
	   <li><a href="https://www.postgresql.org/" title="Home">Home</a></li>
	   <li><a href="https://www.postgresql.org/about" title="About">About</a></li>
	   <li><a href="https://www.postgresql.org/download" title="Download">Download</a></li>
	   <li><a href="https://www.postgresql.org/docs" title="Documentation">Documentation</a></li>
	   <li><a href="https://www.postgresql.org/community" title="Community">Community</a></li>
	   <li><a href="https://www.postgresql.org/developer" title="Developers">Developers</a></li>
	   <li><a href="https://www.postgresql.org/support" title="Support">Support</a></li>
	   <li><a href="https://www.postgresql.org/account" title="Your account">Your account</a></li>
	  </ul>
	 </div> <!-- pgTopNav -->
	</div> <!-- pgHeaderContainer -->
	<div id="pgContent">
         <div id="pgSideWrap">
          <div id="pgSideNav">
           <ul>
	     <li><a href="https://www.postgresql.org/community/">Community</a></li>
	     <li><a href="https://www.postgresql.org/community/contributors/">Contributors</a></li>
	     <li><a href="/list/">Mailing Lists</a>
	       <ul>
		 <li><a href="/community/lists/subscribe/">Subscribe</a></li>
{%for g in listgroups%}
                <li><a href="/{{g.homelink}}/">{{g.groupname}}</a>
{%if g.lists%}
	         <ul>
{%for l in g.lists%}
                  <li><a href="/list/{{l.listname}}/">{{l.shortdesc}}</a></li>
{%endfor%}
		 </ul>
{%endif%}
	        </li>
{%endfor%}
               </ul>
	     </li>
	     <li><a href="https://www.postgresql.org/community/irc">IRC</a></li>
	     <li><a href="https://www.postgresql.org/community/user-groups/">Local User Groups</a></li>
	     <li><a href="https://www.postgresql.org/about/users">Featured Users</a></li>
	     <li><a href="https://www.postgresql.org/community/international">International Sites</a></li>
	     <li><a href="https://www.postgresql.org/community/propaganda">Propaganda</a></li>
	     <li><a href="https://www.postgresql.org/community/resources">Resources</a></li>
	     <li><a href="https://www.postgresql.org/community/weeklynews/">Weekly News</a></li>
           </ul>
          </div>
        </div> <!-- pgSideWrap -->
        <div id="pgContentWrap">
{%block contents%}{%endblock%}
        </div> <!-- pgContentWrap-->
     <br class="pgClearBoth" />
    </div> <!-- pgContent -->
	<div id="pgFooter">
         <a class="navFooter" href="https://www.postgresql.org/about/privacypolicy">Privacy Policy</a> |
         <a class="navFooter" href="https://www.postgresql.org/about/">About PostgreSQL</a><br/>
	 Copyright &copy; 1996-{% now "Y" %} The PostgreSQL Global Development Group
	</div> <!-- pgFooter -->
   </div>
  </div> <!-- pgContainerWrap -->
 </body>
</html>
