{%extends "page.html"%}
{%block title%}PostgreSQL Mailing Lists: {{title}}{%endblock%}
{%block extrahead%}<meta name="robots" content="noindex" />{%endblock%}
{%load pgfilters%}

{%block contents%}
<h1>{{title}} <i class="far fa-envelope"></i></h1>
<p>{{list.description}}</p>

{%include "searchform.html"%}

{%include "datelist_topandbottom.html"%}

{%for m in messages%}
  {%ifchanged m.date.date%}
    {%if not forloop.first%}
        </tbody>
      </table>
    {%endif%}
    <h2>{{m.date.date}}</h2>
    <table class="table table-striped table-sm thread-list">
      <thead>
        <tr>
          <th scope="col" style="width: 70%;">Thread</th>
          <th scope="col" style="width: 25%;">Author</th>
          <th scope="col" style="width: 5%;">Time</th>
        </tr>
      </thead>
      <tbody>
  {%endifchanged%}
  <tr>
    <th scope="row">
      <a href="/message-id/{{m.messageid|urlencode}}">{{m.subject|default:"[No subject]"}}</a>
    </th>
    <td>{{m.mailfrom|nameonly}}</td>
    <td>{{m.date.time|time:"H:i"}}</td>
  </tr>
  {%if forloop.last%}
      </tbody>
    </table>
  {%endif%}
{%endfor%}

{%include "datelist_topandbottom.html"%}
{%endblock%}
