{%extends "base.html"%}
{%block title%}PostgreSQL Mailing Lists: {{title}}{%endblock%}
{%load pgfilters%}
{%block contents%}
<h1>{{title}}</h1>
{%include "searchform.html"%}
{%for m in messages%}
{%ifchanged m.date.date%}
{%if not forloop.first%}
</ul>
{%endif%}
<h3>{{m.date.date}}</h3>
<ul>
{%endifchanged%}
  <li><a href="/message-id/{{m.messageid}}">{{m.subject|default:"[No subject]"}}</a> {{m.mailfrom|nameonly}} ({{m.date.time|time:"H:i"}})</li>
{%if forloop.last%}
</ul>
{%endif%}
{%endfor%}
{%if messages%}
{%with messages|first as firstmsg%}
<a href="/list/{{list.listname}}/before/{{firstmsg.shortdate}}">Prev</a>
{%endwith%}
|
{%with messages|last as lastmsg%}
<a href="/list/{{list.listname}}/since/{{lastmsg.shortdate}}">Next</a>
{%endwith%}
{%endif%}

{%if daysinmonth%}
<div class="daylinks">Jump to day: {%for d in daysinmonth%}<a href="/list/{{list.listname}}/since/{{yearmonth}}{{d|stringformat:"02d"}}0000/">{{d}}</a> {%endfor%}</div>
{%endif%}
{%endblock%}
