{%extends "base.html"%}
{%block title%}PostgreSQL Mailing Lists: {{title}}{%endblock%}
{%block extrahead%}<meta name="robots" content="noindex" />{%endblock%}
{%load pgfilters%}
{%block contents%}
<h1>{{title}}</h1>
{%include "searchform.html"%}
{%include "datelist_topandbottom.html"%}
{%for m in messages%}
{%ifchanged m.date.date%}
{%if not forloop.first%}
</ul>
{%endif%}
<h3>{{m.date.date}}</h3>
<ul>
{%endifchanged%}
  <li><a href="/message-id/{{m.messageid}}">{{m.subject|default:"[No subject]"}}</a> {{m.mailfrom|nameonly}} ({{m.date.time|time:"H:i"}})</li>
{%if forloop.last%}
</ul>
<p></p>
{%endif%}
{%endfor%}
{%include "datelist_topandbottom.html"%}
{%endblock%}
