{%extends "base.html"%}
{%block title%}{{msg.subject}}{%endblock%}
{%load pgfilters%}
{%block extrahead%}
<meta name="robots" content="noindex" />
<script type="text/javascript">
function load() {
   if (document.location.href.indexOf('#') < 0) {
      document.location.href = document.location.href + '#' + '{{msg.messageid}}';
   }
}
window.onload = load;
</script>
{%endblock%}
{%block contents%}
<h2>{{msg.subject}}</h2>
{%for m in allmsg %}
<div class="msgwrap">
<a name="{{m.messageid|urlencode}}"></a>
<table class="message">
 <tr>
  <th>From:</th>
  <td>{{m.mailfrom|hidemail}}</td>
 </tr>
 <tr>
  <th>To:</th>
  <td>{{m.to|hidemail}}</td>
 </tr>
{%if m.cc%}
 <tr>
  <th>Cc:</th>
  <td>{{m.cc|hidemail}}</td>
 </tr>
{%endif%}
 <tr>
  <th>Subject:</th>
  <td>{{m.subject}}</td>
 </tr>
 <tr>
  <th>Date:</th>
  <td>{{m.printdate}}</td>
 </tr>
 <tr>
  <th>Message-ID:</th>
  <td><a href="/message-id/{{m.messageid|urlencode}}">{{m.messageid}}</a> (view <a href="/message-id/raw/{{m.messageid|urlencode}}">raw</a>)</td>
 </tr>
</table>
<div class="bodywrapper">
{%if m.hiddenstatus%}
<pre>{{m.hiddenreason}}</pre>
{%else%}
<pre>{{m.bodytxt|hideallemail|urlize}}</pre>

{%if m.has_attachment%}
{%for a in m.attachments.all%}
<div>
<b>Attachment: <a href="/message-id/attachment/{{a.id}}/{{a.filename}}">{{a.filename}}</a></b><br/>
Description: {{a.contenttype}} ({{a.len|filesizeformat}})
</div>
{%endfor%}
{%endif%}
</div>

{%endif%}{%comment%}hidden{%endcomment%}
</div>
{%endfor%}
{%endblock%}
