{%extends "base.html"%}
{%block title%}{{msg.subject}}{%endblock%}
{%load pgfilters%}
{%block extrahead%}
<script language="javascript">
/* This should be moved into a common JS file */
function onThreadSelect() {
   document.location.href = '/message-id/' + document.getElementById('thread_select').value;
}
</script>
<style>
div.threadlist {
//   font-size: 0.9em;
}
div.threadlist ul {
   margin-left: 0px;
   padding-left: 14px;
   list-style: none;
}
ul.threadlist li {
   margin-left: 0px;
}
span.listname {
   background-color: lightgray;
   padding: 0.2em;
   margin: 2ex 10px 2ex 0ex;
   background: #F7F7F7;
   border: 1px solid #CFCFCF;
   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;
   -khtml-border-radius: 8px;
   border-radius: 8px;
}
</style>
{%endblock%}
{%block layoutblock%}
<h2>{{msg.subject}}</h2>
<strong>From:</strong> {{msg.mailfrom|hidemail}}<br/>
<strong>To:</strong> {{msg.to|hidemail}}<br/>
{%if msg.cc%}<strong>Cc:</strong> {{msg.cc|hidemail}}<br/>{%endif%}
<strong>Subject:</strong> {{msg.subject}}<br/>
<strong>Date:</strong> {{msg.printdate}}<br/>
<strong>Message-ID:</strong> <a href="http://archives.postgresql.org/message-id/{{msg.messageid}}">{{msg.messageid}}</a><br/>
<strong>Thread:</strong> <select id="thread_select" onChange="onThreadSelect()">
{%for m in threadstruct%}{%if m.id%}<option value="{{m.messageid}}"{%if m.id = msg.id%} SELECTED{%endif%}>{{m.indent|safe}}{{m.printdate}} from {{m.mailfrom}}</option>{%endif%}
{%endfor%}
</select><br/>
<strong>Lists:</strong> {%for l in lists %}<span class="listname"><a href="/{{l.listname}}/since/{{msg.shortdate}}">{{l.listname}}</a></span>{%endfor%}<br/>
<hr/>
<div class="bodywrapper">
<pre>{{msg.bodytxt|urlize}}</pre>

{%if msg.has_attachment%}
{%for a in msg.attachment_set.all%}
<div>
<b>Attachment: <a href="/attachment/{{a.id}}/{{a.filename}}">{{a.filename}}</a></b><br/>
Description: {{a.contenttype}}
</div>
{%endfor%}
{%endif%}
<hr/>
{%if parent%}
<h3>In response to</h3>
<ul>
<li><a href="/message-id/{{parent.messageid}}">{{parent.printdate}}</a> from {{parent.mailfrom|nameonly}}</a></li>
</ul>
{%endif%}
{%if responses %}
<h3>Responses</h3>
<ul>
{%for m in responses%}
<li><a href="/message-id/{{m.messageid}}">{{m.printdate}}</a> from {{m.mailfrom|nameonly}}</a></li>
{%endfor%}
</ul>
{%endif%}

</div>
{%endblock%}
