{%extends "base.html"%}
{%block title%}{{msg.subject}}{%endblock%}
{%load pgfilters%}
{%block extrahead%}
<script language="javascript">
/* This should be moved into a common JS file */

function load() {
   if (document.location.href.indexOf('#') < 0) {
      document.location.href = document.location.href + '#' + '{{msg.messageid}}';
   }
}
window.onload = load;
</script>
<style>
div.msgwrap {
   border: 2px solid lightGray;
   margin-bottom: 10px;
}
</style>
{%endblock%}
{%block contents%}
<h2>{{msg.subject}}</h2>
{%for m in allmsg %}
<div class="msgwrap">
<a name="{{m.messageid}}"></a>
<table class="message">
 <tr>
  <th>From:</th>
  <td>{{m.mailfrom|hidemail}}</td>
 </tr>
  <th>To:</th>
  <td>{{m.to|hidemail}}</td>
 </tr>
{%if m.cc%}<tr>
 <tr>
  <th>Cc:</th>
  <td>{{m.cc|hidemail}}</td>
 </tr>
{%endif%}
 <tr>
  <th>Subject:</th>
  <td>{{m.subject}}</td>
 </tr>
 <tr>
  <th>Date:</th>
  <td>{{m.printdate}}</td>
 </tr>
 <tr>
  <th>Message-ID:</th>
  <td><a href="/message-id/{{m.messageid}}">{{m.messageid}}</a> (view <a href="/raw/{{m.messageid}}">raw</a>)</td>
 </tr>
</table>
<div class="bodywrapper">
<pre>{{m.bodytxt|hideallemail|urlize}}</pre>

{%if m.has_attachment%}
{%for a in m.attachment_set.all%}
<div>
<b>Attachment: <a href="/attachment/{{a.id}}/{{a.filename}}">{{a.filename}}</a></b><br/>
Description: {{a.contenttype}}
</div>
{%endfor%}
{%endif%}
</div>

</div>
{%endfor%}
{%endblock%}
