{%extends "base.html"%}
{%block title%}{{msg.subject}}{%endblock%}
{%load pgfilters%}
{%block extrahead%}
<script language="javascript">
/* This should be moved into a common JS file */
function onThreadSelect() {
   document.location.href = '/message-id/' + document.getElementById('thread_select').value;
}

$(function(){
   $('select#thread_select').selectmenu({
      style:'dropdown',
      escapeHtml:true,
      icons:[
         {find:'.hasatt', icon: 'ui-icon-document'},
      ]
   });
});
</script>
<style>
span.listname {
   background-color: #F7F7F7;
   padding: 0.2em;
   border: 1px solid #CFCFCF;
}
</style>
{%endblock%}
{%block contents%}
<h2>{{msg.subject}}</h2>
<table class="message">
 <tr>
  <th>From:</th>
  <td>{{msg.mailfrom|hidemail}}</td>
 </tr>
  <th>To:</th>
  <td>{{msg.to|hidemail}}</td>
 </tr>
{%if msg.cc%}<tr>
 <tr>
  <th>Cc:</th>
  <td>{{msg.cc|hidemail}}</td>
 </tr>
{%endif%}
 <tr>
  <th>Subject:</th>
  <td>{{msg.subject}}</td>
 </tr>
 <tr>
  <th>Date:</th>
  <td>{{msg.printdate}}</td>
 </tr>
 <tr>
  <th>Message-ID:</th>
  <td><a href="/message-id/{{msg.messageid}}">{{msg.messageid}}</a> (view <a href="/message-id/raw/{{msg.messageid}}">raw</a> or <a href="/message-id/flat/{{msg.messageid}}">flat</a>)</td>
 </tr>
 <tr>
  <th>Thread:</th>
  <td>
   <select id="thread_select" onChange="onThreadSelect()">
{%for m in threadstruct%}{%if m.id%}<option value="{{m.messageid}}"{%if m.id = msg.id%} selected="selected"{%endif%}{%if m.hasattachment%} class="hasatt"{%endif%}>{{m.indent|safe}}{{m.printdate}} from {{m.mailfrom|hidemail}}</option>{%endif%}
{%endfor%}
   </select>
  </td>
 </tr>
 <tr>
  <th>Lists:</th>
  <td>{%for l in lists %}<span class="listname"><a href="/list/{{l.listname}}/since/{{msg.shortdate}}">{{l.listname}}</a></span>{%endfor%}</td>
 </tr>
</table>
<div class="bodywrapper">
<pre>{{msg.bodytxt|hideallemail|urlize}}</pre>

{%if msg.has_attachment%}
{%for a in msg.attachment_set.all%}
<div>
<b>Attachment: <a href="/message-id/attachment/{{a.id}}/{{a.filename}}">{{a.filename}}</a></b><br/>
Description: {{a.contenttype}}
</div>
{%endfor%}
{%endif%}
{%if parent%}
<h3>In response to</h3>
<ul>
<li><a href="/message-id/{{parent.messageid}}">{{parent.subject}}</a> at {{parent.printdate}} from {{parent.mailfrom|nameonly}}</li>
</ul>
{%endif%}
{%if responses %}
<h3>Responses</h3>
<ul>
{%for m in responses%}
<li><a href="/message-id/{{m.messageid}}">{{m.subject}}</a> at {{m.printdate}} from {{m.mailfrom|nameonly}}</li>
{%endfor%}
</ul>
{%endif%}

</div>
{%endblock%}
