{%extends "base.html"%}
{%block title%}PostgreSQL Mailing Lists: {{list.listname}}{%endblock%}
{%load pgfilters%}
{%block contents%}
<h1>{{list.listname}}</h1>
{%regroup months by year as yearmonth %}
<ul>
{%for year in yearmonth%}
 <li>{{year.grouper}}
  <ul>
   {%for month in year.list%}
    <li><a href="/list/{{list.listname}}/{{month.year}}-{{month.month|stringformat:"02d"}}/">{{month.date|date:"F"}}</a> (<a href="/list/{{list.listname}}/mbox/{{month.year}}{{month.month|stringformat:"02d"}}">mbox</a>)</li>
   {%endfor%}
  </ul>
 </li>
{%endfor%}
</ul>
{%endblock%}
