{%extends "base.html"%}
{%block title%}PostgreSQL Mailing Lists: {{list.listname}}{%endblock%}
{%block extrahead%}<meta name="robots" content="noindex" />{%endblock%}
{%load pgfilters%}
{%block contents%}
<h1>{{list.listname}}</h1>
{%include "searchform.html" %}
{%regroup months by year as yearmonth %}
<ul>
{%for year in yearmonth%}
 <li>{{year.grouper}}
  <ul>
   {%for month in year.list%}
    <li><a href="/list/{{list.listname}}/{{month.year}}-{{month.month|stringformat:"02d"}}/">{{month.date|date:"F"}}</a>{%if month.hasmbox%} (<a href="/list/{{list.listname}}/mbox/{{list.listname}}.{{month.year}}{{month.month|stringformat:"02d"}}">mbox</a>){%endif%}</li>
   {%endfor%}
  </ul>
 </li>
{%endfor%}
</ul>
{%endblock%}
