<p>
</p>
<form name="searchform" method="get" action="https://www.postgresql.org/search/">
 <input type="hidden" name="m" value="1" />
{%if searchform_listname%} <input type="hidden" name="ln" value="{{searchform_listname}}"/>{%endif%}
 <div class="tblBasic">
  <table border="0" cellpadding="0" cellspacing="0" class="tblBasicGrey">
   <tr>
      <th class="colFirst" style="vertical-align: middle">Search archives</th>
      <th class="colLast" colspan="2">
	<input type="text" name="q" size="25" value=""/> <input type="submit" value="Search" />
      </th>
   </tr>
   <tr class="lastrow">
    <td class="colFirst"></td>
    <td>(enter a message-id to go directly to that message)</td>
    <td class="colLast" align="right"><a href="https://www.postgresql.org/search/?m=1{%if searchform_list%}&amp;ln={{searchform_listname}}{%endif%}">Advanced Search</a></td>
   </tr>
  </table>
 </div>
</form>
