<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<title>{{msg.subject}}</title>
</head>
<body>
<h1>Message num: {{msg.id}}</h1>
<h2>{{msg.subject}}</h2>
From: {{msg.mailfrom}}<br/>
To: {{msg.to}}<br/>
Message-ID: <a href="http://archives.postgresql.org/message-id/{{msg.messageid}}">{{msg.messageid}}</a><br/>
{%if prevmsg%}<a href="/test/{{prevmsg.id}}/">Prev</a> | {%endif%}
{%if nextmsg%}<a href="/test/{{nextmsg.id}}/">Next</a>{%endif%}
<br/>
<br/>
<div class="wrapper">
<div style="width: 49%; border: 1px solid black;overflow: scroll; float:left; position:relative;">
<pre>{{msg.bodytxt|urlize}}</pre>
{%for a in msg.attachment_set.all%}
<div>
<b>Attachment: <a href="/attachment/{{a.id}}/">{{a.filename}}</a></b><br/>
Desciption: {{a.contenttype}}
</div>
{%endfor%}
</div>
<div id="old" style="width: 49%; border: 1px solid black; overflow: scroll; float:right;position:relative;">
</div>
</div>
<script language="javascript">
$(function() {
  $('#old').load('/test/oldsite/{{msg.messageid}}/');
});
</script>
</body>
</html>
